In [2]:
#Import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import requests

In [3]:
#Read the csv files
olympics_df = pd.read_csv('Resources/athlete_events.csv')
regions_df = pd.read_csv('Resources/noc_regions.csv')
host_cities_df = pd.read_csv('Resources/olym.csv')
arrivals_df = pd.read_csv('Resources/INT.ARVL.csv')
departures_df = pd.read_csv('Resources/INT.DPRT.csv')
expenditures_df = pd.read_csv('Resources/INT.XPND.csv')

In [ ]:
#Jumaan start here (Question 1)

In [ ]:
#Jumaan end here

In [ ]:
#Timmy start here (Question 2)

In [ ]:
#Timmy end here

In [ ]:
#Raj start here (Question 3)

In [ ]:
#Raj end here

In [ ]:
#Fatma start here (Question 4)

In [4]:
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [54]:
host_cities_df.head()
host_cities_df = host_cities_df[["City", "Country"    ]]
host_cities_df.head()
z=host_cities_df["City"].unique()
z

array(['Athens', 'Paris', 'St. Louis', 'London', 'Stockholm', 'Antwerp',
       'Chamonix', 'St. Moritz', 'Amsterdam', 'Lake Placid',
       'Los Angeles', 'Garmisch-Partenkirchen', 'Berlin', 'Oslo',
       'Helsinki', "Cortina d'Ampezzo", 'Melbourne', 'Squaw Valley',
       'Rome', 'Innsbruck', 'Tokyo', 'Grenoble', 'Mexico City', 'Sapporo',
       'Munich', 'Montreal', 'Moscow', 'Sarajevo', 'Calgary', 'Seoul',
       'Albertville', 'Barcelona', 'Lillehammer', 'Atlanta', 'Nagano',
       'Sydney', 'Salt Lake City', 'Turin', 'Beijing', 'Vancouver',
       'Sochi', 'Rio de Janeiro'], dtype=object)

In [58]:


# remove duplicates
olympics_country_df=olympics_country_df.drop_duplicates()

#replace the misspelled city names with the correct ones based on the host cities file
olympics_c_df= olympics_df.replace({'Athina':'Athens', 'Antwerpen':'Antwerp', 'Sankt Moritz':'St. Moritz', 'Roma':'Rome', 'Moskva':'Moscow', 'Torino':'Turin'})
olympics_country_df = pd.merge(olympics_c_df, host_cities_df, how="left", on=["City"])
y = olympics_country_df.sort_values(["Year"])

y

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country
94785,35741,Gustav Felix Flatow,M,21.0,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athens,Gymnastics,Gymnastics Men's Pommelled Horse,NaN,Greece
346376,129584,Joseph Welzenbacher,M,NaN,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athens,Cycling,Cycling Men's 12-Hours Race,NaN,Greece
285544,107006,Felix Adolf Schmal,M,23.0,NaN,NaN,Austria,AUT,1896 Summer,1896,Summer,Athens,Cycling,"Cycling Men's 10,000 metres",Bronze,Greece
345747,129377,Hermann Otto Ludwig Weingrtner,M,31.0,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athens,Gymnastics,Gymnastics Men's Pommelled Horse,Silver,Greece
104927,39487,Georgios Gennimatas,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athens,Athletics,Athletics Men's 100 metres,NaN,Greece
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215171,80523,Cristina-Andreea Mitu,F,24.0,175.0,60.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Brazil
215172,80523,Cristina-Andreea Mitu,F,24.0,175.0,60.0,Romania-2,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Brazil
215235,80553,Keiko Miyagawa,F,30.0,152.0,53.0,Japan,JPN,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Women's Skiff,NaN,Brazil
58722,22536,Nestor Landag Colonia,M,24.0,158.0,59.0,Philippines,PHI,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Men's Bantamweight,NaN,Brazil
174581,65584,Enrico La Cruz,M,22.0,181.0,60.0,Netherlands,NED,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Lightweight,NaN,Brazil

In [59]:
# leave only the columns that are relevant to the analysis
olympics_country_df= olympics_country_df[["Name", "Team", "Year", "Season", "Sport", "Event", "Medal", "Country"]]
olympics_country_df.shape

(362848, 8)

In [60]:
# check if any NaN is left in the Country column. Shape should be equal to olympics_country_df.
x =olympics_country_df.dropna(subset=["Country"])
x.shape

(362848, 8)

In [88]:
# replace all the NaN in the Medal column with 0
values = {"Medal" : 0}
olympics_country_df= olympics_country_df.fillna(value=values)
olympics_country_df= pd.DataFrame(olympics_country_df)
olympics_country_df.head()

,Name,Team,Year,Season,Sport,Event,Medal,Country
0,A Dijiang,China,1992,Summer,Basketball,Basketball Men's Basketball,0,Spain
1,A Lamusi,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,United Kingdom
2,A Lamusi,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,United Kingdom
3,A Lamusi,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,United Kingdom
4,Gunnar Nielsen Aaby,Denmark,1920,Summer,Football,Football Men's Football,0,Belgium

In [71]:
# Make a new df where the team is from the host country
host_team=olympics_country_df.loc[olympics_country_df["Team"] == olympics_country_df["Country"]]
host_team.head()

,Name,Team,Year,Season,Sport,Event,Medal,Country
34,"Einar Ferdinand ""Einari"" Aalto",Finland,1952,Summer,Swimming,Swimming Men's 400 metres Freestyle,0,Finland
74,Paavo Johannes Aaltonen,Finland,1952,Summer,Gymnastics,Gymnastics Men's Individual All-Around,0,Finland
75,Paavo Johannes Aaltonen,Finland,1952,Summer,Gymnastics,Gymnastics Men's Team All-Around,Bronze,Finland
76,Paavo Johannes Aaltonen,Finland,1952,Summer,Gymnastics,Gymnastics Men's Floor Exercise,0,Finland
77,Paavo Johannes Aaltonen,Finland,1952,Summer,Gymnastics,Gymnastics Men's Horse Vault,0,Finland

In [100]:
#plot a graph showing how many medals host countries won
host_team
host_team.groupby(["Team", "Year"]).count()

                    Name  Season  Sport  Event  Medal  Country
Team          Year
Australia     1956   395     395    395    395    395      395
              2000   762     762    762    762    762      762
Austria       1964   192     192    192    192    192      192
              1976   198     198    198    198    198      198
Belgium       1920   488     488    488    488    488      488
Brazil        2016   571     571    571    571    571      571
Canada        1976   531     531    531    531    531      531
              1988   162     162    162    162    162      162
              2010   279     279    279    279    279      279
China         2008   708     708    708    708    708      708
Finland       1952   399     399    399    399    399      399
France        1900  1358    1358   1358   1358   1358     1358
              1924  1296    1296   1296   1296   1296     1296
              1968   106     106    106    106    106      106
              1992   166     166    166    166    166      166
Greece        1896   280     280    280    280    280      280
              1906   636     636    636    636    636      636
              2004   990     990    990    990    990      990
Italy         1956    81      81     81     81     81       81
              1960   392     392    392    392    392      392
              2006   266     266    266    266    266      266
Japan         1964   446     446    446    446    446      446
              1972   118     118    118    118    118      118
              1998   233     233    233    233    233      233
Mexico        1968   446     446    446    446    446      446
Netherlands   1928   373     373    373    373    373      373
Norway        1952    89      89     89     89     89       89
              1994   159     159    159    159    159      159
Russia        2014   317     317    317    317    317      317
South Korea   1988   547     547    547    547    547      547
Soviet Union  1980   660     660    660    660    660      660
Spain         1992   537     537    537    537    537      537
Sweden        1912  1228    1228   1228   1228   1228     1228
              1956    36      36     36     36     36       36
Switzerland   1928    66      66     66     66     66       66
              1948   174     174    174    174    174      174
United States 1904   823     823    823    823    823      823
              1932  1556    1556   1556   1556   1556     1556
              1960    99      99     99     99     99       99
              1980   262     262    262    262    262      262
              1984  1386    1386   1386   1386   1386     1386
              1996   827     827    827    827    827      827
              2002   285     285    285    285    285      285
West Germany  1972   581     581    581    581    581      581
Yugoslavia    1984   103     103    103    103    103      103

In [72]:
#remove the columns with no medal win
medal_win = medal_win.loc[medal_win["Medal"] != 0]
medal_win.head()

,Name,Team,Year,Season,Sport,Event,Medal,Country
5,Edgar Lindenau Aabye,Denmark/Sweden,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,France
6,Edgar Lindenau Aabye,Denmark/Sweden,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,France
45,Arvo Ossian Aaltonen,Finland,1920,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Belgium
46,Arvo Ossian Aaltonen,Finland,1920,Summer,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Belgium
49,Juhamatti Tapio Aaltonen,Finland,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Russia

In [65]:
# get the medal wins only for summer olympics
summer_wins = medal_win.loc[medal_win["Season"] == "Summer"]
summer_wins

,Name,Team,Year,Season,Sport,Event,Medal,Country
75,Paavo Johannes Aaltonen,Finland,1952,Summer,Gymnastics,Gymnastics Men's Team All-Around,Bronze,Finland
957,Abelardo Fernndez Antua,Spain,1992,Summer,Football,Football Men's Football,Gold,Spain
989,Nils Georg berg,Sweden,1912,Summer,Athletics,Athletics Men's Long Jump,Bronze,Sweden
990,Nils Georg berg,Sweden,1912,Summer,Athletics,Athletics Men's Long Jump,Bronze,Sweden
991,Nils Georg berg,Sweden,1912,Summer,Athletics,Athletics Men's Triple Jump,Silver,Sweden
...,...,...,...,...,...,...,...,...
361945,Zou Kai,China,2008,Summer,Gymnastics,Gymnastics Men's Horizontal Bar,Gold,China
361960,Zou Shiming,China,2008,Summer,Boxing,Boxing Men's Light-Flyweight,Gold,China
362170,Olha Valentynivna Zubareva,Soviet Union,1980,Summer,Handball,Handball Women's Handball,Gold,Soviet Union
362289,Giovanni Zucchi,Italy,1960,Summer,Rowing,Rowing Men's Coxed Fours,Bronze,Italy
362405,Robertas ulpa,Soviet Union,1980,Summer,Swimming,Swimming Men's 200 metres Breaststroke,Gold,Soviet Union

In [66]:
# get the medal wins only for winter olympics
winter_wins = medal_win.loc[medal_win["Season"] == "Winter"]
winter_wins.head()

,Name,Team,Year,Season,Sport,Event,Medal,Country
90,Kjetil Andr Aamodt,Norway,1994,Winter,Alpine Skiing,Alpine Skiing Men's Downhill,Silver,Norway
91,Kjetil Andr Aamodt,Norway,1994,Winter,Alpine Skiing,Alpine Skiing Men's Super G,Bronze,Norway
94,Kjetil Andr Aamodt,Norway,1994,Winter,Alpine Skiing,Alpine Skiing Men's Combined,Silver,Norway
146,Roald Edgar Aas,Norway,1952,Winter,Speed Skating,"Speed Skating Men's 1,500 metres",Bronze,Norway
2881,Meghan Christina Agosta (-Marciano),Canada,2010,Winter,Ice Hockey,Ice Hockey Women's Ice Hockey,Gold,Canada

In [ ]:
#Fatma end here